count: {{ count }}<br>
next: {{ next }}<br>
previous: {{ previous }}<br>
results:
<ul>
{% for favorite in results %}
    <li style="list-style: none; padding:10px;">
    {% for dict in favorite.items %}
        {% if dict.0 == "usr" %}
            {{ dict.0 }}:
            <ul style="list-style: none; padding-left:40px; padding-top: 10px; padding-bottom: 10px;">
                <li>
                {% for item in dict.1.items %}
                    {{ item.0 }}: {{ item.1 }}<br>
                {% endfor %}
                </li>
            </ul>
        {% else %}
            {{ dict.0 }}: {{ dict.1 }}<br>
        {% endif %}
    {% endfor %}
    </li>
    <hr>
{% endfor %}
</ul>