<!DOCTYPE html>
<html>
{% load static %}
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'TwitApp/stylesheet.css' %}" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{% static 'TwitApp/scripts.js' %}" type="text/javascript"></script>
    <title>
        {% block head_title %}
            TwitApp
        {% endblock %}
    </title>
</head>
<body>
    <nav class="navigation">
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'index' %}" ></a>
            {% else %}
                <a href="/"></a>
            {% endif %}
        </div>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'view_tweets' %}" >Search</a></li>
                <li><a href="{% url 'twits' %}">My twits</a></li>
                <li><a>Usuari</a>
                    <ul>
                        <li><a href="/user/{{ user }}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}" >Log In</a></li>
                <li><a href="register.html">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
