{% extends 'base.html' %}

{% block content %}
     <div id="buttons" class="user-buttons">
        <span id="buttons_profile">
            <ul>
                <li><a id="save" onclick="submitform()" >Save changes</a></li>
                <li><a id="cancel" onclick="loaduser()" >Cancel</a></li>
            </ul>
        </span>
     </div>
    <form id="infoform" action="" method="post">
    <span id="name">
        {% if user.first_name %}
            <input name="first_name" type="text" placeholder="{{ user.first_name }}" />
        {% else %}
            <input name="first_name" type="text" placeholder="First name" />
        {% endif %}
        {% if user.last_name %}
            <input name="last_name" type="text" placeholder="{{ user.last_name }}" />
        {% else %}
            <input name="last_name" type="text" placeholder="Last name" />
        {% endif %}
    </span>
    {% if user.email %}
        <span id="email"><input name="email" type="text" placeholder="{{ user.email }}" /></span>
    {% else %}
        <span id="email"><input name="email" type="text" placeholder="email" /></span>
    {% endif %}
    {% if user_info.twitter_id %}
        <span id="twitterid"><input name="twitter_id" type="text" placeholder="{{ user_info.twitter_id }}" /></span>
    {% else %}
        <span id="twitterid"><input name="twitter_id" type="text" placeholder="twitterid" /></span>
    {% endif %}
    {% if user_info.website %}
        <span id="website"><input name="website" type="text" placeholder="{{ user_info.website }}" /></span>
    {% else %}
        <span id="website"><input name="website" type="text" placeholder="website" /></span>
    {% endif %}
    {% if user_info.location %}
        <span id="location"><input id="location_auto" onfocus="reload_autocomplete()" name="location" type="text" placeholder="{{ user_info.location }}" /></span>
    {% else %}
        <span id="location"><input id="location_auto" onfocus="reload_autocomplete()" name="location" type="text" placeholder="location" /></span>
    {% endif %}
    </form>
{% endblock %}